# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files & secrets
.env*.local
.env
credentials.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
